body {font-family:arial,sans-serif;font-size:10pt;}

#time_source {
	color: #666666;
}

#pageCount{width:500px; margin:10px auto; text-align:center} 
#pageCount span{margin:4px; font-size:14px}
#customHeader a {float: left}

.ui-autocomplete {
	width: 180px;
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
  height: 100px;
}

.col_head {
	width: 100px;
	height: 100px;
}

.ui-progressbar {
   position: relative;
 }
 .progress-label {
   position: relative;
   left: 50%;
   top: -25px;
   font-weight: bold;
   text-shadow: 1px 1px 0 #fff;
 }
 
#box {
	display:none;
}
